<section class="dashboard-main">
  <h1> <%= current_user.first_name %>'s Dashboard </h1>

  <%= button_to "Connect to Github", github_path %>
  <%= button_to 'Log Out', logout_path, method: 'delete', class: "btn btn-primary mb1 bg-teal" %>
  <h3>Account Details</h3>
  <ul>
    <li> <%= current_user.first_name  %> <%= current_user.last_name %> </li>
    <li> <%= current_user.email%> </li>
  </ul>
  <section>
    <h1>Bookmarked Segments</h1>
  </section>
  <% if current_user.token %>
    <section id='github'>
      <h1>Github</h1>
        <div id='user-repos'>
        <h2>Repos</h2>
          <% current_user.find_repos.each do |repo| %>
          <div id=<%="repo"%>>
            <%= link_to repo.name, repo.url, id: 'repository' %>
          </div>
          <% end %>
          <div id='user-followers'>
            <h2>Followers</h2>
            <% current_user.find_followers.each do |follower| %>
            <div id='follower'>
              <%= link_to follower.name, follower.url, id: 'follow' %>
            </div>
            <% end %>
        </div>
          <div id='user-following'>
            <h2>Following</h2>
            <% current_user.find_following.each do |following| %>
            <div id='following'>
              <%= link_to following.name, following.url, id: 'follow' %>
            </div>
            <% end %>
        </div>
    </section>
  <% end %>
</section>
